.App {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.ETableCellText {
  background-color: #1679ab;
  color: white !important;
  font-size: 16px !important;
}

.ETableCellVal {
  text-align: right !important;
  font-size: 18px !important;
}

.CalApp {
  width: 50%;
  border: 2px solid #ccc;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  background-color: #dad3be;
}

.CalHeading {
  text-align: center;
  color: #686d76;
}

.SwitchButtons {
  margin: 20px;
}
